# Logs
logs
*.log

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*
!.env.example

config/*.json
public/shoelace
public/css/*
public/js/*
!public/css
!public/js
