<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}タイトル{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/shoelace/shoelace.css">
  <!-- Bulma CSS -->
  <link rel="stylesheet" href="/css/bulma-custom.css">
  <!-- Shoelace Web Components -->
  <script type="module" src="/shoelace/shoelace.js">
    setBasePath('shoelace');
  </script>
</head>
<body>
{% block main %}{% endblock %}
{% block script %}{% endblock %}
</body>