// $orange: hsl(14, 100%, 53%) !default;
// $yellow: hsl(42, 100%, 53%) !default;
// $green: hsl(153, 53%, 53%) !default;
// $turquoise: hsl(171, 100%, 41%) !default;
// $cyan: hsl(198, 100%, 70%) !default;
// $blue: hsl(233, 100%, 63%) !default;
// $purple: hsl(271, 100%, 71%) !default;
// $red: hsl(348, 100%, 70%) !default;

:root {
  --color-primary: hsl(171, 100%, 41%);
  --color-info: hsl(198, 100%, 70%);
  --color-success: hsl(153, 53%, 53%);
  --color-warning: hsl(42, 100%, 53%);
  --color-danger: hsl(348, 100%, 70%);
  --color-light: hsl(0, 0%, 96%);
  --color-dark: hsl(0, 0%, 21%);
}

// _theme-dark.scss
[data-theme="dark"] {
  --color-primary: hsl(171, 100%, 30%);
  --color-info: hsl(198, 100%, 60%);
  --color-success: hsl(153, 53%, 40%);
  --color-warning: hsl(42, 100%, 45%);
  --color-danger: hsl(348, 100%, 60%);
  --color-light: hsl(0, 0%, 14%);
  --color-dark: hsl(0, 0%, 96%);
}

$primary: var(--color-primary);
$info: var(--color-info);
$success: var(--color-success);
$warning: var(--color-warning);
$danger: var(--color-danger);
$light: var(--color-light);
$dark: var(--color-dark);

// Typography
$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$family-sans-serif: "Inter", "SF Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace: "Inconsolata", "Hack", "SF Mono", "Roboto Mono",
  "Source Code Pro", "Ubuntu Mono", monospace !default;
